.team {
  width: 100%;
}

.team .container {
  width: 1240px;
  margin: 4rem auto;
  padding: 4rem 0rem;
}

.team h2 {
  font-size: 3rem;
  text-align: center;
}
.team h3 {
  text-align: center;
}

.team .container .content {
  display: flex;
  flex-direction: row;
}

.team .card {
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 10px;
}

.team img {
  border-radius: 50px 50px 0px 0px;
  margin-top: -2rem;
  width: 100%;
}

.team .card p {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 12px;
  align-items: center;
}

.team .card span {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .team .container {
    width: 100%;
  }

  .team .container .content {
    display: flex;
    flex-direction: column;
  }

  .team .card {
    max-width: 90%;
    margin: 1rem;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    max-height: 100%;
    max-width: 80%;
    padding: 100px;
  }
}
