.contactus_containers {
  width: 100%;
  height: 70vh;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 400px;
}

.contactus {
  width: 980px;
  height: 70vh;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 23px 15px 5px rgba(92, 151, 190, 0.2);
  background-color: #f1f1f1;
}
h1 {
  margin: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 940px) {
  .contactus_containers {
    width: 100%;
    height: 140vh;
    margin-bottom: 600px;
  }
  .contactus {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    min-width: 200px;
    height: 130vh;
  }
}
