.contact_details_container {
  width: 500px;
  background: #4d4d4d;
  height: 100%;
  display: flex;
}
.contact_details_text {
  margin-left: 35px;
  margin-top: 50px;
  width: 90%;
  color: white;
}
.contact_text_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: -10px;
}
.contact_icon {
  padding-right: 10px;
  margin: auto;
}
.contactus_text {
  font-size: 1.02rem;
}
