.about {
    background-color: brown;
}

.about .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about .about-header {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    
}

.about .container .about-img{
    border-radius: 10px;
    position: relative;
    justify-content: center;
    max-height: 700px;
    max-width: 700px;
    margin: auto;
}

.about .container .about_card_list{
    height: 100%;
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   flex-direction: column;
    margin: auto;
    margin-left: 10px;
}
@media screen and (max-width:940px) {
    .about .container {
        grid-template-columns: 1fr;
        width: 100%;
       
    }

    .about .container .about_card_list{
        height: 120%;
        width: 90%;
        display: flex;
      flex-wrap: wrap;
      flex-direction: column;
        margin: auto;
    }
    .about .container .about-img{
        border-radius: 10px;
        position: relative;
        justify-content: center;
        max-height: 100%;
        max-width: 80%;
        margin: auto;
    }
}
