.pricing_card {
  text-align: center;
  width: 350px;
  margin-left: 30px;
  border: 0.2px solid #f1f1f1;
  border-radius: 25px 25px;
  background-color: #f1f1f1;
}
.pricing_card .pricingTable-header {
  padding: 30px 0;
  background: #4d4d4d;
  position: relative;
  border: 20px solis #f1f1f1;
  border-radius: 0px 25px 0px 25px;
  transition: all 0.3s ease 0s;
}
.pricing_card:hover .pricingTable-header {
  background: #09b2c6;
}
.pricing_card .pricingTable-header:after,
.pricing_card .pricingTable-header:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d9d9d8;
  position: absolute;
  bottom: 12px;
}
.pricing_amount {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pricing_card .pricingTable-header:before {
  left: 40px;
}
.pricing_card .pricingTable-header:after {
  right: 40px;
}
.pricing_card .heading {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}
.pricing_card .price-value {
  display: inline-block;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  color: #09b1c5;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
}
.pricing_card:hover .price-value {
  color: #fff;
}
.pricing_card .currency {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  top: 7px;
}
.pricing_card .month {
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-top: 15px;
  bottom: 15px;
}
.pricing_card .pricing-content {
  padding-top: 50px;

  position: relative;
}
/*original*/
.pricing_card .pricing-content:after,
.pricing_card .pricing-content:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  position: absolute;
  top: 12px;
}

.pricing_card .pricing-content:before {
  left: 40px;
}
.pricing_card .pricing-content:after {
  right: 40px;
}

.pricing_card .pricing-content ul {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  height: 210px;
}
.pricing_card .pricing-content ul:after,
.pricing_card .pricing-content ul:before {
  content: "";
  width: 8px;
  height: 46px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #818282 50%, #727373 50%);
  position: absolute;
  top: -22px;
  z-index: 0;
  box-shadow: 0 0 5px #707070;
  transition: all 0.3s ease 0s;
}
.pricing_card:hover .pricing-content ul:after,
.pricing_card:hover .pricing-content ul:before {
  background: linear-gradient(to bottom, #40c4db 50%, #34bacc 50%);
}
.pricing_card .pricing-content ul:before {
  left: 44px;
}
.pricing_card .pricing-content ul:after {
  right: 44px;
}

/*original End*/

/*Replica*/
.pricing_card .pricing-content1 ul:after,
.pricing_card .pricing-content1 ul:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  position: relative;
  top: 12px;
}

.pricing_card .pricing-content1 ul:before {
  left: 120px;
}
.pricing_card .pricing-content1 ul:after {
  right: 120px;
}

.pricing_card .pricing-content1 {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}
.pricing_card .pricing-content1:after,
.pricing_card .pricing-content1:before {
  content: "";
  width: 8px;
  height: 46px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #818282 50%, #727373 50%);
  position: absolute;
  top: -22px;
  z-index: 0;
  box-shadow: 0 0 5px #707070;
  transition: all 0.3s ease 0s;
}
.pricing_card:hover .pricing-content1:after,
.pricing_card:hover .pricing-content1:before {
  background: linear-gradient(to bottom, #40c4db 50%, #34bacc 50%);
}
.pricing_card .pricing-content1:before {
  left: 120px;
}
.pricing_card .pricing-content1:after {
  right: 120px;
}
/*Replica End*/
.pricing_card .pricing-content ul li {
  font-size: 15px;
  font-weight: 700;
  color: #777473;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d8;
}
.pricing_card .pricing-content ul li:last-child {
  border-bottom: none;
}
.pricing_card .read {
  display: inline-block;
  position: relative;
  bottom: 10px;
  font-size: 16px;
  color: #09b1c5;
  background-color: #4d4d4d;
  padding: 8px 25px;
  margin: 30px 0;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  margin-left: 10px;
}
.pricing_card .read:hover {
  text-decoration: none;
}
.pricing_card:hover .read {
  background: #09b1c5;
  color: #ffff;
}
@media screen and (max-width: 940px) {
  .pricing_card {
    margin: auto;
    padding: auto;
    margin-bottom: 10px;
    width: 80%;
  }
}
